---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { section, pricing } from "../../data/pricing.json";
import { Icon } from "astro-icon";
---

<Layout
  title="Welcome to CogniCue"
  description="Converting Emotions into Insights"
  image="https://www.cognicue.in/assets/img/hero/differentfacess.jpg"
  type="home"
>
  <Navigation />
  <main class="bg-gray-100">
    <div class="text-center px-4 pt-12 sm:px-6 lg:px-8 lg:pt-20">
      <h2 class="text-2xl md:text-3xl font-semibold leading-6 text-slate-600">{section.heading}</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-block sm:text-4xl lg:text-5xl">
        {section.text}
      </p>
    </div>
    <div class="mt-16 pb-12 lg:mt-20 lg:pb-20">
      <div class="relative z-0">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="relative lg:grid lg:grid-cols-7">
            <div
              class="mx-auto max-w-md lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3 lg:mx-0 lg:max-w-none"
            >
              <div
                class="flex h-full flex-col overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg"
              >
                <div class="flex flex-1 flex-col">
                  <div class="bg-white px-6 py-10">
                    <div>
                      <h3
                        class="text-center text-2xl font-medium text-gray-900"
                        id="tier-hobby"
                      >
                        {pricing[0].name}
                      </h3>
                      <div class="mt-4 flex items-center justify-center">
                        <span
                          class="flex items-start px-3 text-6xl tracking-tight text-gray-900"
                        >
                          <span
                            class="mt-2 mr-2 text-4xl font-medium tracking-tight"
                            >₹</span
                          >
                          <span class="font-bold">{pricing[0].price}</span>
                        </span>
                        <!-- <span class="text-xl font-medium text-gray-500"
                          >/month</span
                        > -->
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex flex-1 flex-col justify-between border-t-2 border-gray-100 bg-gray-50 p-6 sm:p-10 lg:p-6 xl:p-10"
                  >
                    <ul role="list" class="space-y-4">
                      {pricing[0].lists.map((list) => (
                      <li class="flex items-start">
                        <div class="flex-shrink-0">
                          {list.access ? (
                            <Icon class="w-6 text-green-500 group-hover:text-green-400" name="icons8:checked" />
                          ): (
                            <Icon class="w-6 text-red-400 group-hover:text-red-300" name="ep:circle-close-filled" />
                          )}
                        </div>
                        <p class="ml-3 text-base font-medium text-gray-500">
                          {list.name}
                        </p>
                      </li>
                    ))}
                    </ul>
                    <div class="mt-8">
                      <div class="rounded-lg shadow-md">
                        <a
                          href={pricing[0].link}
                          class="block w-full rounded-lg border border-transparent bg-white px-6 py-3 text-center text-base font-medium text-indigo-600 hover:bg-gray-50"
                          aria-describedby="tier-hobby">Get started</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="mx-auto mt-10 max-w-lg lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4 lg:mx-0 lg:mt-0 lg:max-w-none"
            >
              <div class="relative z-10 rounded-lg shadow-xl">
                <div
                  class="pointer-events-none absolute inset-0 rounded-lg border-2 border-indigo-600"
                  aria-hidden="true"
                >
                </div>
                <div class="absolute inset-x-0 top-0 translate-y-px transform">
                  <div class="flex -translate-y-1/2 transform justify-center">
                    <span
                      class="inline-flex rounded-full bg-indigo-600 px-4 py-1 text-base font-semibold text-white"
                      >Recommended</span
                    >
                  </div>
                </div>
                <div class="rounded-t-lg bg-white px-6 pt-12 pb-10">
                  <div>
                    <h3
                      class="text-center text-3xl font-semibold tracking-tight text-gray-900 sm:-mx-6"
                      id="tier-growth"
                    >
                    {pricing[1].name}
                    </h3>
                    <div class="mt-4 flex items-center justify-center">
                      <span
                        class="flex items-start px-3 text-6xl tracking-tight text-gray-900 sm:text-6xl"
                      >
                        <span
                          class="mt-2 mr-2 text-4xl font-medium tracking-tight"
                          >₹</span
                        >
                        <span class="font-bold">{pricing[1].price}</span>
                      </span>
                      <!-- <span class="text-2xl font-medium text-gray-500"
                        >/month</span
                      > -->
                    </div>
                  </div>
                </div>
                <div
                  class="rounded-b-lg border-t-2 border-gray-100 bg-gray-50 px-6 pt-10 pb-8 sm:px-10 sm:py-10"
                >
                  <ul role="list" class="space-y-4">
                    {pricing[1].lists.map((list) => (
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        {list.access ? (
                          <Icon class="w-6 text-green-500 group-hover:text-green-400" name="icons8:checked" />
                        ): (
                          <Icon class="w-6 text-red-400 group-hover:text-red-300" name="ep:circle-close-filled" />
                        )}
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-500">
                        {list.name}
                      </p>
                    </li>
                    ))}
                  </ul>
                  <div class="mt-10">
                    <div class="rounded-lg shadow-md">
                      <a
                        href={pricing[1].link}
                        class="block w-full rounded-lg border border-transparent bg-indigo-600 px-6 py-4 text-center text-xl font-medium leading-6 text-white hover:bg-indigo-700"
                        aria-describedby="tier-growth">Get started</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="mx-auto mt-10 max-w-md lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3 lg:m-0 lg:max-w-none"
            >
              <div
                class="flex h-full flex-col overflow-hidden rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg"
              >
                <div class="flex flex-1 flex-col">
                  <div class="bg-white px-6 py-10">
                    <div>
                      <h3
                        class="text-center text-2xl font-medium text-gray-900"
                        id="tier-scale"
                      >
                      {pricing[2].name}
                      </h3>
                      <div class="mt-4 flex items-center justify-center">
                        <span
                          class="flex items-start px-3 text-6xl tracking-tight text-gray-900"
                        >
                          <span
                            class="mt-2 mr-2 text-4xl font-medium tracking-tight"
                            >₹</span
                          >
                          <span class="font-bold">{pricing[2].price}</span>
                        </span>
                        <!-- <span class="text-xl font-medium text-gray-500"
                          >/month</span
                        > -->
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex flex-1 flex-col justify-between border-t-2 border-gray-100 bg-gray-50 p-6 sm:p-10 lg:p-6 xl:p-10"
                  >
                    <ul role="list" class="space-y-4">
                      {pricing[2].lists.map((list) => (
                      <li class="flex items-start">
                        <div class="flex-shrink-0">
                          {list.access ? (
                            <Icon class="w-6 text-green-500 group-hover:text-green-400" name="icons8:checked" />
                          ): (
                            <Icon class="w-6 text-red-400 group-hover:text-red-300" name="ep:circle-close-filled" />
                          )}
                        </div>
                        <p class="ml-3 text-base font-medium text-gray-500">
                          {list.name}
                        </p>
                      </li>

                      ))}
                    </ul>
                    <div class="mt-8">
                      <div class="rounded-lg shadow-md">
                        <a
                          href={pricing[2].link}
                          class="block w-full rounded-lg border border-transparent bg-white px-6 py-3 text-center text-base font-medium text-indigo-600 hover:bg-gray-50"
                          aria-describedby="tier-scale">Get started</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
